{% extends "layout.html" %} 
{% block content %}
<h1>Anime y animación</h1>
<hr>
<h2>Índice</h2>
<ul> 
    <a href="{% url "animation:animationthemes" %}"><li>Temas de anime</li></a>
    <ul>
        <ul>
            <li>~ Otros temas relacionados al anime ~</li>
            <a href="{% url "animation:softwareanimationfree" %}"><li>Los mejores programas de animación 2D "GRATIS" 2024</li></a>
            <a href="{% url "animation:softwareanimationpay" %}"><li>Los mejores programas de animación 2D "PAGO" 2024</li></a>
        </ul>
    </ul>
</ul>
{% endblock %}