/* styles.css */

/* Estilos generales para el cuerpo de la página */
body {
  background-color: wheat;
  margin: auto;
  text-align: center;
  width: 640px;
  padding: 50px;
  font-family: 'Arial', sans-serif;
  color: black;
}

/* Estilos para las imágenes centradas */
img {
  display: block;
  width: 60%;
  margin: auto;
}

/* Estilos para la navegación */
nav {
  background-color: whitesmoke; /* Color de fondo del menú */
  padding: 20px; /* Espaciado interno del menú */
}

nav ul li {
  display: inline; /* Mantiene los elementos de la lista en línea */
  margin-right: 15px; /* Espaciado entre elementos de la lista */
}

nav ul li a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  padding: 1px 10px; /* Espaciado interno de los enlaces */
  color: #007bff; /* Color del texto del enlace */
  transition: color 0.3s; /* Agrega una transición de color suave */
}

/* Cambia el color del texto al pasar el ratón */
nav ul li a:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra sutil */
}

/* Estilos generales para los enlaces */
a {
  color: #007bff; /* Color del texto del enlace */
  text-decoration: none; /* Quita el subrayado predeterminado */
  transition: color 0.3s; /* Agrega una transición de color suave */
}

/* Cambia el color del texto al pasar el ratón */
a:hover {
  color: #0056b3;
}

/* Estilos para el pie de página */
footer {
  margin-top: 50px; /* Espaciado superior del pie de página */
  text-align: center; /* Alinea el contenido al centro */
}

footer a {
  margin-right: 15px; /* Espaciado entre enlaces en el pie de página */
}

/* Cambia el color del texto al pasar el ratón en el pie de página */
footer a:hover {
  color: #0056b3;
}
